@import url("default.css");
@import url("general.css");

/* common css */
.contents {
    background: url("../img/bg-img.png");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
}
.contents-box {
    width: 800px;
    margin: 0 auto;
}

/* user css */
    /* colors */
.mahogany {
    color: #510707;
}
.elm {
    color: #1F667C
}
    /* end colors */

.info-box-event {
    background-color: #FFF;
    padding: 27px 13px;
    position: relative;
    border-radius: 20px;
}
.header-info {
    background: url("../img/triangle-strip.png");
    background-repeat: no-repeat;
    background-position: 200px center;
}
.info-title {
    background-color: #eb630f;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    padding: 10px 36px 7px;
    border-radius: 16px;
    line-height: 1;
}
.content-wrap.begin img + div {
    padding: 0px 50px;
    background-color: #f9eed4;
    position: relative;
    z-index: 2;
    margin-top: -128px;
}
.content-info {
    width: 65%;
}
.content-info .big-txt {
    font-size: 32px;
    font-weight: bold;
}
.content-info .big-txt span {
    font-size: 22px;
    letter-spacing: -2px;
}
.content-info .narrow-txt {
    font-size: 22px;
}
.content-info .narrow-txt .ind-space{
    display: inline-block;
    width: 20px;
}
.content-info .bold-txt-blue {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background-color: #1f667c;
    padding: 10px 20px;
    text-align: center;
    width: 350px;
}
.event-child:nth-child(3) .content-info .narrow-txt {
    font-size: 28px;
}
.event-child:nth-child(3) .content-info {
    width: 100%;
}
.event-logo {
    position: absolute;
    right: 0;
}
.content-wrap.begin > img {
    position: relative;
    z-index: 1;
}
.notice-event::before, .notice-event::after {
    content: url('../img/brown-strip.png');
    display: block;
}
.notice-info {
    background-color: #F3DEB0;
    padding: 27px 13px;
}
.notice-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.notice-title::before, .notice-title::after {
    content: url('../img/wavy-arw.png');
    display: inline-block;
}
.notice-title::after {
    transform: rotate(180deg);
}
.notice-title span {
    font-size: 30px;
}
.notice-info p {
    font-size: 26px;
}
.notice-info p span {
    font-weight: bold;
}